.header-top {
  text-align: center;
}

.header-top-grid {
  padding: 10px 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header-top-title-only {
  font-size: 3rem;
  padding: 30px 0 60px 0;
}

.header-top-btn-box {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}