.notification-info-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notification-info-content-box {
  padding: 30px 20px;
  border-radius: 10px;
  width: 80vw;
  max-width: 500px;
}

.notification-info-content-info {
  font-size: 30px;
}

.notification-info-btn-box {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}